.about_container {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about_img {
  margin-left: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 7px double var(--main-color);
  border-style: dashed double double dashed;
}

.about_content {
  margin-right: 0.5rem;
  align-content: center;
  justify-content: flex-start;
}

.about_content p {
  font-size: 18px;
  margin: 20px 0 0;
  color: var(--light-color);
}

.about_content .btn {
  margin-top: 40px;
}

@media screen and (max-width: 1400px) {
  .about_container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .about_img {
    width: 85%;
    margin: 0 auto;
  }

  .about_content {
    padding-top: 2.5rem;
  }

  .about_content .btn {
    justify-self: center;
  } 
}

@media screen and (max-width: 600px) {
}
