.experience {
   height: 130%;
   overflow: scroll;
   padding-top: 130px;
}

.timeline {
   max-width: 1000px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.timeline::before {
   content: "";
   position: absolute;
   width: 2px;
   height: 100%;
   background-color: var(--bg-alt-color);
   left: calc(50% - 1px);
}

.timeline-item {
   margin-bottom: 40px;
   width: 100%;
   position: relative;
}

.timeline-item:last-child {
   margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
   padding-right: calc(50% + 30px);
   text-align: right;
}

.timeline-item:nth-child(even) {
   padding-left: calc(50% + 30px);
   text-align: left;
}

.timeline-dot {
   height: 16px;
   width: 16px;
   background-color: var(--main-color);
   position: absolute;
   left: calc(50% - 8px);
   border-radius: 50%;
   top: 10px;
}

.timeline-date {
   font-size: 18px;
   color: var(--main-color);
   margin: 6px 0 15px;
}

.timeline-content {
   padding: 0 0 30px 0;
}

.timeline-content h3 {
   font-size: 20px;
   color: var(--text-color);
   margin: 0 0 10px;
   text-transform: capitalize;
   font-weight: 500;
}

.timeline-content h5 {
   font-family: var(--mono-font);
   color: var(--main-color);
   font-size: 15px;
   line-height: 1.75;
   margin: -10px 0 15px 0;
}

.timeline-content p {
   color: var(--light-color);
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
}

@media (max-width: 767px) {
   .timeline::before {
      left: 7px;
   }
   .timeline-item:nth-child(odd) {
      padding-right: 0;
      text-align: left;
   }
   .timeline-item:nth-child(odd),
   .timeline-item:nth-child(even) {
      padding-left: 37px;
   }
   .timeline-dot {
      left: 0;
   }
}
